@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    padding: 0 40px;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #243e63;
}

li{
    list-style-type: none;
}

.text__spicer{
    color: #6415ff;
}

.detail__para{
    color: #918f8f;
    line-height: 28px;
}

::placeholder{
    color: #918f8f;
}

section:not(:first-child){
    margin-bottom: 120px;
}

.vert__section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.vert__row{
    flex-direction: column;
    align-items: center;
}

.horiz__row{
    display: flex;
    justify-content: space-between;
}

.section__name{
    color:#5015b7;
    font-weight: 500;
    margin-bottom: 16px;
}

.text__center{
    text-align: center;
}

.section__heading{
    opacity: 0.75;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 16px;  
}

.section__para{
    font-weight: 400;
    color: rgb(124, 139, 161);
    font-size: 18px;
    margin-bottom: 44px;
    line-height: 28px;
}

.section__figure{
    width: 50%;
}

.section__img{
    width: 100%;
}

.blob__container{
    position: relative;
}

.landing__blob{
    position: absolute;
    left: 20px;
    bottom: 70px;
    opacity: 0.05;
    transform: translateX(calc(-200% / 3));
    height: 256px;
    width: 256px;
}

.features__blob{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    width: 240px;
    height: 600px;
    transform: matrix(1, 0, 0, 1, 128, 220);
}

.quality__grid{
    position: absolute;
    right: 0;
    bottom: 50px;
    color: rgb(100, 21, 255);
    fill: rgb(100, 21, 255);
    width: 80px;
    height: 80px;
    transform: matrix(1, 0, 0, 1, 40, 40);
    z-index: -1000;
}

.steps__blob{
    position: absolute;
    right: 50%;
    bottom: 17%;
    color: rgb(100, 21, 255);
    fill: rgb(168, 165, 173);
    width: 80px;
    height: 80px;
    transform: matrix(1, 0, 0, 1, 40, 40);
    z-index: -1000;
}

.pricing__blob{
    position: absolute;
    /* transform: translate(-125px, -125px); */
    left: 0;
    bottom: 0;
    height: 256px;
    width: 256px;
    transform: matrix(1, 0, 0, 1, -128, 228);
    opacity: 0.25;
    overflow: hidden;
}

.left__closing--blob{
    position: absolute;
    height: 320px;
    width: 320px;
    color: rgb(80, 17, 204);
    z-index: -1;
    left: 0;
    bottom: 0;
    transform: matrix(1, 0, 0, 1, -140, 138);
    opacity: 0.5;
}

.right__closing--blob{
    position: absolute;
    height: 320px;
    width: 320px;
    color: rgb(80, 17, 204);
    z-index: -1;
    right: 0;
    top: 0;
    transform: matrix(1, 0, 0, 1, 80, -256);
    opacity: 0.5;
}

.left__footer--blob{
    position: absolute;
    height: 320px;
    width: 320px;
    color: rgb(80, 17, 204);
    z-index: -1;
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: matrix(1, 0, 0, 1, -100, -188);
}

.right__footer--blob{
    position: absolute;
    height: 320px;
    width: 320px;
    color: rgb(80, 17, 204);
    z-index: -1;
    opacity: 0.5;
    right: 0;
    bottom: 0;
    transform: matrix(1, 0, 0, 1, 118, 192);
}


#landing{
    min-height: 100vh;
}


.learn__more--button{
    background-color: #5015b7;
    color: white;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    transition: all 300ms ease;
    max-width: 130px;
}

.learn__more--button:hover{
    background-color: #6429c9;
}



/* NAV */

nav{
    height: 100px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 90px;
    /* padding: 0 40px; */
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__logo--wrapper{
    width: 30px;
    height: 30px;
}

.nav__logo--img{
    width: 100%;
}

.nav__logo--name{
    padding-left: 12px;
    font-size: 24px;
    font-weight: 900;
    transition: all 200ms ease;
    color: #243e63;
}

.nav__logo:hover .nav__logo--name{
    color: #5015b7;
}

.nav__info{
    display: flex;
}

.nav__link{
    padding-left: 36px;
    font-size: 13px;
    font-weight: 600;
    transition: all 300ms;
    text-decoration: 2px solid transparent underline ;
    text-underline-offset: 8px;
    transition: all 300ms ease;
}

.nav__link:hover{
    color: #5015b7;
    text-decoration-color: #5015b7;
}

.nav__account{
    padding-left: 54px;
}

.nav__login{
    margin-right: 24px;
}

.nav__signup{
    background-color: #5015b7;
    font-weight: 600;
    font-size: 13px;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    transition: all 200ms;
}

.nav__signup:hover{
    background-color: #410f72;
}

.menu__btn{
    border: none;
    background-color: white;
    font-size: 20px;
    transition: all 300ms ease;
}

.menu__btn--open{
    display: none;
}

.menu__backdrop{
    position: absolute;
    top: 20px;
    right: 16px;
    left: 16px;
    height: 320px;
    background-color: white;
    border: 1px solid lightgrey;
    z-index: 100;
    border-radius: 8px;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease-in-out;
    animation: bounce-in backwards;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
}

@keyframes bounce-in{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    50%{
        transform: translateX(-100px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.menu--open .menu__backdrop{
    display: flex;
}

.menu__close--btn{
    position: absolute;
    right: 20px;
    top: 20px;
}

.menu__btn:hover{
    color: #5015b7;
    cursor: pointer;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu__link{
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms;
    text-decoration: 2px solid transparent underline ;
    text-underline-offset: 8px;
    transition: all 300ms ease;
}

.menu__link:not(:last-child){
    margin-bottom: 20px;
}

.menu__link:hover{
    color: #5015b7;
    text-decoration-color: #5015b7;
}

.menu__signup{
    background-color: #5015b7;
    font-weight: 600;
    font-size: 12px;
    padding: 12px 30px;
    border-radius: 50px;
    color: white;
    transition: all 200ms;
}

.menu__signup:hover{
    background-color: #410f72;
}


/* LANDING */

.main__page{
    display: flex;
}

.landing__info{
    margin-right: 30px;
    width: 40%;
}

.landing__start{
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
}

.landing__email{
    border: 2px solid lightgrey;
    border-radius: 50px;
    border-color: #d3d3d34d;
    outline: none;
    transition: all 300ms;
    padding-left: 20px;
    height: 60px;
    max-width: 600px;
    width: 100%;
}


.landing__email:hover{
    border-color: rgb(211, 211, 211, 1);
    
}

.landing__figure{
    width: 60%;
}

.get__started--button{
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #5015b7;
    border-radius: 50px;
    right: 0;
    padding: 14px 0;
    margin: 3px 8px 8px 0;
    width: 100%;
    max-width: 160px;
}

.get__started--button:hover{
    background-color: #410f72;
}

.trusted__customers{
    font-size: 12px;
    opacity: 0.35;
    margin-bottom: 16px;
    margin-top: 100px;
}

.companies__img{
    width: 100%;
    opacity: 0.6;
}

/* FEATURES */

.features__listing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 850px;
    margin: 60px auto 0;
}

.features__para{
    max-width: 500px;
    margin: 0 auto;
}

.feature{
    width: 25%;
    display: flex;
    margin-right: 40px;
    margin-bottom: 50px;
}

.feature:nth-child(3),
.feature:nth-child(6){
    margin-right: 0px;
}

.feature__info{
    display: flex;
    flex-direction: column;
}

.feature__icon{
    border: 1px solid lightgrey;
    color: #5015b7;
    padding: 12px;
    font-size: 20px;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    margin-right: 12px;
}

.feature__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.feature__desc{
    color: #918f8f;
    font-size: 16px;
    line-height: 24px;
}

/* QUALITY WORK */

.work__info{
    width: 100%;
    margin-right: 60px;
}

.grid {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    color: #6415ff;
    fill: currentcolor;
    transform: matrix(1, 0, 0, 1, 40, 35);
}

.work__figure{
    position: relative;
}

/* STEPS */

.steps__figure{
    position: relative;
    padding-top: 50px;
    margin-right: 50px;
}

.step__list{
    margin-top: 40px;
    max-width: 500px;
}

.step{
    display: flex;
    margin-bottom: 30px;
}

.step__number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    margin-right: 20px;
}

.step__info{
    display: flex;
    flex-direction: column;
}

.step__header{
    color: #243e63;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 18px;
}

.step__para{
    color: #718096;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    max-width: 240px;
}

/* VALUES */

.values__section{
    width: 50%;
    margin-right: 50px;
}

.values__container{
    display: flex;
    margin-bottom: 50px;
}

.value__header{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    height: 50px;
}

.value__icon{
    font-size: 20px;
    border-radius: 50px;
}

.value__dollar{
    padding: 8px 12px;
    color: darkgreen;
    background-color: rgb(195, 241, 195);
}

.value__briefcase{
    padding: 12px;
    color:firebrick;
    background-color: rgb(234, 182, 182);
}

.value__name{
    margin-left: 16px;
    font-weight: bold;
    font-size: 18px;
}

.value__para{
    width: 80%;
    line-height: 22px;
    font-size: 14px;
}

/* PRICING */

.pricing__table{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.pricing__column{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-bottom: 12px;
    border: 2px solid #e3dede;
    border-top: 0px;
    margin-right: 40px;
}

.pricing__business{
    border: 0px;
}

.price__name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
}

.price__cost{
    margin: 16px 0px;
    font-weight: bold;
    font-size: 40px;
}

.price__rate{
    font-weight: bold;
    color:#a19595;
}

.price__customer{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.selling__points{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selling__point:not(:last-child){
    margin-bottom: 20px;
}

.selling__point{
    font-weight: 500;
    color: #718096;
}

hr.solid__row{
    border: 1px solid lightgrey;
    opacity: 0.5;
    width: 100%;
    margin: 20px 0px;
}

.selling__point{
    color:#918f8f;
}

.gradient__border{
    height: 12px;
    width: 100%;
    border-top-left-radius: 900px;
    border-top-right-radius: 900px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

.personal__border{
    background: linear-gradient(to right, #73e8c1, #c6f7e7);
}

.enterprise__border{
    background: linear-gradient(to right, orangered, rgb(251, 125, 79));
}

.pricing__buynow{
    border-radius: 50px;
    padding: 16px 60px;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(245, 241, 241);
    transition: all 200ms ease;
}

.pricing__buynow:hover{
    box-shadow: -2px 5px 16px rgba(0,0,0,0.15);
    transform: translate(1px, -1px);

}

.pricing__personal--button{
    background: linear-gradient(to right, #73e8c1, rgb(150, 254, 219));
}

.pricing__business{
    color: white;
    background: linear-gradient(to right, #1e90ff, #5daaf7);
}

.business__rate, .business__point{
    color: white;
}

.pricing__smallbiz--button{
    color: #5015b7;
    background-color: white;
}

.pricing__enterprise--button{
    background: linear-gradient(to right, orangered, rgb(255, 166, 133));
}

/* TESTIMONIALS */
.test__section{
    width: 45%;
}

.test__section--figure{
    width: 50%;
}


.testimonial__review{
    margin-top: 30px;
}

.fa-star{
    color:rgb(239, 186, 52);
}

.testimonial__header{
    margin: 18px 0px;
    font-size: 22px;
    font-weight: 600;
}

.testimonial__para{
    margin-bottom: 30px;
}

.testimonial__profile{
    display: flex;
}

.testimonial__figure{
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.testimonial__img{
    width: 100%;
    border-radius: 50px;
    padding: 6px;
}

.testimonial__person{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__name{
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 8px;
}

.testimonial__role{
    color:#918f8f;
    font-weight: 500;
}

/* FAQS */

.faq__questions{
    width: 50%;
    margin: 0 auto;
}

.faq__question{
    margin-bottom: 24px;
}

.faq__question--heading{
    margin-bottom: 8px;
}

.faq__question--para{
    color: rgb(124, 139, 161);
}

/* CLOSING PITCH */

.blob__container{
    position: relative;
}

.footer__blob--container{
    z-index: -2;
    overflow: hidden;
}

.pitch__row{
    background-color: #6415ff;
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 6px;
    padding: 100px 80px;
    position: relative;
}

.pitch__line{
    font-size: 30px;
    font-weight: 600;
    width: 50%;
}

.pitch__link{
    color: white;
    font-weight: 500;
    padding: 20px 40px;
    border-radius: 50px;
    cursor: pointer;
}

.pitch__getstarted{
    background-color: #f44848;
    transition: all 300ms;
}

.pitch__getstarted:hover{
    background-color: #d43131;
}

.pitch__contactus{
    border: 1px solid white;
    margin-left: 40px;
    transition: all 300ms;
    background-color: #6415ff;
}

.pitch__contactus:hover{
    background-color: white;
    color: #5015b7;
}

/* FOOTER */

footer{
    background-color: #6415ff;
    color: white;
    position: relative;
    z-index: -2;
    overflow: hidden;
}

.footer__row{
    max-width: 1200px;
    position: relative;
}

.links__list{
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
}

.link__group{
    display: flex;
    flex-direction: column;
}

.link__header{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 28px;
}

.footer__link{
    color: white;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: 2px solid transparent underline;
    transition: all 300ms ease;
    text-underline-offset: 4px;
}

.footer__link:hover{
    text-decoration-color: white;
}

.footer__divider{
    border: 1px solid #6e32d5;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 90px;
    max-width: 1100px;
    width: 90%;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__figure{
    width: 30px;
    margin-right: 16px;
}

.footer__img{
    width: 100%;
}

.footer__logo--name{
    font-weight: 900;
    font-size: 24px;
}

.footer__copyright{
    color: rgb(187, 184, 184);
    font-size: 14px;
    font-weight: 400;
}

.footer__link--social{
    margin-left: 12px;
}

.fa-brands{
    color: black;
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    transition: all 200ms ease;
}

.fa-brands:hover{
    opacity: 0.8;
}

.fa-facebook-f{
    padding: 6px 10px;
}



@media(max-width: 1000px){
    .landing__start{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing__email{
        margin-bottom: 16px;
    }
    
    .get__started--button{
        position: relative;
        max-width: 600px;
    }
    
    .pricing__table{
        flex-direction: column;
        align-items: center;
    }
    
    .pricing__column{
        width: 80%;
        margin-right: 0;
        margin-bottom: 60px;
    }

    .pitch__links{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .pitch__getstarted{
        margin-bottom: 20px;
    }

    .pitch__contactus{
        margin-left: 0;
    }
}

/* Phones, tablets */

@media(max-width: 768px){
    .section__heading{
        font-size: 28px;
    }

    .section__figure{
        width: 100%;
        margin: 0 0 40px 0;
    }

    .section__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-right: 0;
    }

    .section__para{
        font-size: 14px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landing__info{
        margin-right: 0;
    }

    #quality__work .row,
    #values .row{
        display: flex;
        flex-direction: column-reverse;
    }

    .work__info{
        margin-right: 0;
    }

    .learn__more--button{
        margin: 0 auto;
    }

    nav{
        margin-bottom: 40px;
    }

    .nav__link,
    .nav__signup {
        display: none;
    }

    .landing__info{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    .landing__img{
        width: 100%;
    }

    .trusted__customers{
        margin-top: 40px;
    }

    .companies__figure{
        margin-bottom: 40px;
    }

    .menu__btn--open{
        display: flex;
    }

    .features__listing{
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .feature{
        margin-bottom: 50px;
        margin-right: 0;
        width: 100%;
        justify-content: center;
    }

    .feature__desc{
        width: 80%;
    }



    .step__list{
        display: flex;
        flex-direction: column;
    }

    .step{
        flex-direction: column;
        align-items: center;
    }

    .step__number{
        margin-right: 0;
        margin-bottom: 8px;
    }

    .step__para{
        margin: 0 auto;
    }

    .value{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .value:not(:last-child){
        margin-bottom: 40px;
    }

    .values__container{
        flex-direction: column;
        align-items: center;
    }

    .value__header{
        margin-bottom: 10px;
    }

    .value__para{
        margin: 0 auto;
    }

    .pricing__table{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 40px;
    }

    .pitch__line{
        width: 100%;
        margin-bottom: 60px;
    }

    .links__list{
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content:left;
    }

    .link__group{
        width: 25%;
        margin-bottom: 40px;
        margin-right: 40px;
    }

    .footer__bottom{
        flex-direction: column;
    }

    .footer__copyright{
        margin: 30px 0;
    }
}

/* Small phones */
@media(max-width: 480px){

    .row{
        width: 100%;
    }

    .menu__close--btn{
        right: 4px;
    }

    .landing__email{
        
    }

    .values__section{
        margin-right: 0;
    }

    .price__name{
        font-size: 16px;
    }

    .price__cost{
        font-size: 30px;
    }

    .pricing__column{
        width: 100%;
    }

    .selling__point{
        font-size: 14px;
    }

    .test__section{
        width: 80%;
    }

    .pitch__line{
        width: 100%;
    }

    .pitch__links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pitch__link{
        margin-bottom: 20px;
        padding: 16px 24px;
    }

    .pitch__contactus{
        margin-left: 0;
    }

    .links__list{
        display: flex;
        justify-content: center;
    }

    .link__group{
        width: 30%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__bottom{
        padding-bottom: 40px;
    }   
}

@media(max-width: 360px){

    .menu__close--btn{
        right: 20px;
    }

    .landing__email{
        height: 50px;
    }

    .values__section{
        width: 100%;
    }


    .pitch__line,
    .faq__questions{
        font-size: 20px;
    }

    .faq__question--heading{
        font-size: 18px;
    }

    .faq__question--para{
        font-size: 14px;
    }

    .link__group{
        width: 50%;
    }
}